.Header-main{
    background-color:#f2bb53;
    color: #fff;
    width: 100%;
    height: 80px;
}

img.logo {
    height: 59px;
    border-radius: 50%;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.Serach.css-142372x-MuiButtonBase-root-MuiButton-root {
    padding: 5px;
    height: 31px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-20bmp1-MuiSvgIcon-root {
    position: relative;
    left: 10px;
    font-size: 39px;
    color: #ffffff;
}
.Sidebhar {
    display: none;
}
.Sidebharmanu ul {
    margin: 11px;
}
.Sidebharmanu li {
    margin: 12px;
}
.data li {
    float: left;
    margin: 10px;
    font-weight: 600;
    font-family: Shoyab;
}
.data  a:hover {
    cursor: pointer;
    color: #000;
}
.data ul {
    margin-top: -1px;
}

@media only screen and (min-width: 280px) and (max-width: 720px) {
    body {
      background-color: lightblue;
    }
    .Sidebhar {
        display: block;
    }
    .manu {
        display: none;
    }
  }
